.navbar {
    position: sticky; 
    top: 0; 
    background-color: #0E343E; 
    color: white; 
    z-index: 1000; 
    padding: 10px; 
  }
  
  .navbar-brand {
      color: #ffffff !important;
    }
  
    .navbar-nav .nav-item .nav-link {
        color: #ffffff !important; 
      }
  
    
      .container-fluid {
          padding-left: 15rem;
          padding-right: 0;
        }
        
        .navbar-nav {
          margin-left: 20rem; 
          color: rgb(240, 240, 240);
          margin-right: 0;  
        }
        
        
        .navbar-nav .nav-item {
          margin-right: 5rem; 
        }
        .navbar-brand {
          color: rgb(155, 155, 67) !important; 
        }    
  
  
  .navbar-brand {
    color: rgb(163, 163, 83) !important;  
    font-weight: bold !important; 
  }
  
    
    
    .navbar-nav .nav-item .nav-link:active {
      color: #bdb35c !important; 
      background-color: #0beec8;  
    }
    
    body {
      background: linear-gradient(to right, #1B1931, #44174E, #662249, #A34054, #ED9E59, #9e6f6d);
  }
  
  
   
  header {
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 20px 0;
    margin-top: 59px;
    opacity: 0; 
    animation: fadeIn 2s ease-out forwards; 
  }
  
  
  @keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
  }
  
  header h1 {
    font-size: 2.5em;
    margin: 0;
    padding: 0;
    color: white;
    text-align: left;
    margin-left: 25rem;
    margin-top: 5rem;
  }
  
  header p {
    font-size: 2em;
    font-weight: 300;
    margin: 0;
    padding: 0;
    color: white;
    text-align: left;
    margin-left: 11.5rem;
  }
  
  
  
  
  .mission {
    text-align: left; 
    padding: 40px 20px;
    opacity: 0; 
    transform: translateY(10px); 
    animation: fadeInUp 1s ease-out forwards; 
  }
  
  
  @keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(10px); 
    }
    100% {
        opacity: 1;
        transform: translateY(0); 
    }
  }
  
  .mission h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    font-weight: 700;
    color: white;
    text-align: left; 
    margin-left: 10.5rem;
  }
  
  .mission p {
    font-size: 2em;
    line-height: 1.6;
    max-width: 800px;
    margin: 0;
    padding: 0;
    color: white;
    text-align: left;
    margin-left: 10.5rem;
  }
  
  
  
  